In [ ]:
# Author: Vaishnavi Patel
# Date: 2/24/2020
# CS301-006, Professor Watson
# HW04 Solution
# Practiced pandas using corona virus data
# link to the git repo (ex: https://github.com/vap38/CS301)
# link-to-the-relevant-git-commit (ex:https://github.com/vap38/CS301/blob/master/Homework-04.ipynb)
# name-of-the-branch (ex: master)

# Problem 1
Write a function called get_percent_nans which takes the following input parameters: ● df (DataFrame) - a DataFrame object ● column_name (str) - a column name

In [2]:
import pandas as pd
import numpy as np

In [3]:
def get_percent_nans(df,column_name):
    f1 = pd.isnull(df[column_name])
    empty = len(df[f1])
    length = len(df[column_name])
    percent= (empty/length)*100
    return round(percent,2)

In [4]:
my_df = pd.read_csv("2019_nCoV_20200121_20200206.csv")
get_percent_nans(my_df,"Death")

53.22

In [5]:
print(my_df)

     Province/State  Country/Region   Last Update  Confirmed  Suspected  \
0             Hubei  Mainland China  2/5/20 16:43    16678.0        NaN
1         Guangdong  Mainland China  2/5/20 13:23      895.0        NaN
2          Zhejiang  Mainland China  2/5/20 15:13      895.0        NaN
3             Henan  Mainland China  2/5/20 15:03      764.0        NaN
4             Hunan  Mainland China  2/5/20 15:23      661.0        NaN
...             ...             ...           ...        ...        ...
1872   Heilongjiang  Mainland China     1/21/2020        NaN        1.0
1873            NaN           Japan     1/21/2020        1.0        NaN
1874            NaN        Thailand     1/21/2020        2.0        NaN
1875            NaN     South Korea     1/21/2020        1.0        NaN
1876     Washington   United States     1/21/2020        1.0        NaN

      Recovered  Death
0         538.0  479.0
1          49.0    0.0
2          78.0    0.0
3          47.0    2.0
4          54.0    0.0
...         ...    ...
1872        NaN    NaN
1873        NaN    NaN
1874        NaN    NaN
1875        NaN    NaN
1876        NaN    NaN

[1877 rows x 7 columns]

# Problem 2
According to the data found in the “2019_nCoV_20200121_20200206.csv” file, which
Country/Region has the most amount of Deaths?

In [41]:
maximum=my_df.groupby(['Death',"Country/Region"],sort = False).max()

print(maximum.index[0][1])

Mainland China

In [42]:
maximum

                           Province/State         Last Update  Confirmed  \
Death Country/Region
479.0 Mainland China                Hubei        2/5/20 16:43    16678.0
0.0   Mainland China             Zhejiang         2/5/20 8:53      895.0
2.0   Mainland China                Henan         2/5/20 9:13      764.0
1.0   Mainland China              Tianjin         2/5/20 6:23      301.0
0.0   Singapore                       NaN        2/5/20 16:33       28.0
      Thailand                        NaN        2/4/20 15:33       25.0
      Japan                           NaN        2/4/20 16:43       22.0
1.0   Hong Kong                 Hong Kong         2/5/20 2:33       21.0
0.0   South Korea                     NaN        2/5/20 15:33       19.0
      Germany                         NaN        2/3/20 20:53       12.0
      Malaysia                        NaN        2/5/20 15:43       12.0
      Taiwan                       Taiwan        2/4/20 14:53       11.0
      Macau                         Macau         2/4/20 4:43       10.0
      Vietnam                         NaN        2/3/20 21:43        8.0
      France                          NaN    2/1/2020 1:52:00        6.0
      United Arab Emirates            NaN    2/2/2020 5:43:00        5.0
      Australia                  Victoria        2/4/20 16:53        4.0
      India                           NaN        2/3/20 21:43        3.0
      Canada                  Toronto, ON         2/4/20 0:13        3.0
      Italy                           NaN    2/2/2020 3:33:00        2.0
1.0   Philippines                     NaN    2/2/2020 3:33:00        2.0
0.0   Russia                          NaN    2/1/2020 1:52:00        2.0
      UK                              NaN    2/1/2020 1:52:00        2.0
      United States             Tempe, AZ       2/3/2020 3:53        2.0
      Belgium                         NaN        2/4/20 15:43        1.0
      Cambodia                        NaN    2/3/2020 0:43:00        1.0
      Finland                         NaN   2/1/2020 18:12:00        1.0
      Nepal                           NaN    2/1/2020 1:52:00        1.0
      Spain                           NaN       2/1/2020 2:13        1.0
      Sri Lanka                       NaN   2/1/2020 23:43:00        1.0
      Sweden                          NaN    2/1/2020 2:13:00        1.0
414.0 Mainland China                Hubei         2/4/20 9:43    13522.0
0.0   Hong Kong                 Hong Kong    2/2/2020 2:23:00       15.0
350.0 Mainland China                Hubei      2/3/2020 13:33    11177.0
294.0 Mainland China                Hubei      2/1/2020 23:33     9074.0
249.0 Mainland China                Hubei      2/1/2020 11:53     7153.0
0.0   Philippines                     NaN      2/1/2020 17:43        1.0
204.0 Mainland China                Hubei     1/31/2020 14:00     5806.0
162.0 Mainland China                Hubei     1/30/2020 11:00     4903.0
125.0 Mainland China                Hubei     1/29/2020 14:30     3554.0
100.0 Mainland China                Hubei     1/28/2020 13:00     2714.0
76.0  Mainland China                Hubei      1/27/2020 9:00     1423.0
52.0  Mainland China                Hubei  1/26/2020 11:00 AM     1058.0
40.0  Mainland China                Hubei  1/25/2020 12:00 PM      761.0
39.0  Mainland China                Hubei  1/25/2020 12:00 AM      729.0
24.0  Mainland China                Hubei  1/24/2020 12:00 PM      549.0
17.0  Mainland China                Hubei    1/23/20 12:00 PM      444.0

                            Suspected  Recovered
Death Country/Region
479.0 Mainland China              NaN      538.0
0.0   Mainland China              NaN       78.0
2.0   Mainland China              NaN       47.0
1.0   Mainland China             72.0       24.0
0.0   Singapore                   NaN        0.0
      Thailand                    NaN        5.0
      Japan                       NaN        1.0
1.0   Hong Kong                   NaN        0.0
0.0   South Korea                 NaN        0.0
      Germany                     NaN        0.0
      Malaysia                    NaN        0.0
      Taiwan                      NaN        0.0
      Macau                       NaN        0.0
      Vietnam                     NaN        1.0
      France                      NaN        0.0
      United Arab Emirates        NaN        0.0
      Australia                   NaN        2.0
      India                       NaN        0.0
      Canada                      NaN        0.0
      Italy                       NaN        0.0
1.0   Philippines                 NaN        0.0
0.0   Russia                      NaN        0.0
      UK                          NaN        0.0
      United States               NaN        0.0
      Belgium                     NaN        0.0
      Cambodia                    NaN        0.0
      Finland                     NaN        0.0
      Nepal                       NaN        0.0
      Spain                       NaN        0.0
      Sri Lanka                   NaN        0.0
      Sweden                      NaN        0.0
414.0 Mainland China              NaN      397.0
0.0   Hong Kong                   NaN        0.0
350.0 Mainland China              NaN      300.0
294.0 Mainland China              NaN      215.0
249.0 Mainland China              NaN      168.0
0.0   Philippines                 NaN        0.0
204.0 Mainland China              NaN      141.0
162.0 Mainland China              NaN       90.0
125.0 Mainland China              NaN       88.0
100.0 Mainland China              NaN       52.0
76.0  Mainland China              NaN       45.0
52.0  Mainland China              NaN       42.0
40.0  Mainland China              NaN       32.0
39.0  Mainland China              NaN       32.0
24.0  Mainland China              NaN       31.0
17.0  Mainland China              NaN       28.0

# Problem 3
According to the data found in the “2019_nCoV_20200121_20200206.csv” file, which
Country/Region has the highest number of suspected cases of 2019 nCoV?

In [7]:
cases = my_df.groupby(['Suspected',"Country/Region"],sort = False).max()
print(cases.index[0][1])

Mainland China

# Problem 4
According to the data found in the “2019_nCoV_20200121_20200206.csv” file, which
Country/Region has the second highest average number of recovered cases of 2019 nCoV?

In [33]:
recovered = my_df.groupby('Country/Region',as_index=False)['Recovered'].mean()
recovered_sorted = recovered.sort_values("Recovered",ascending =False)
print(recovered_sorted.iloc[1])

Country/Region    Thailand
Recovered              4.5
Name: 27, dtype: object

          Country/Region  Recovered
15        Mainland China  15.221622
27              Thailand   4.500000
31               Vietnam   1.000000
13                 Japan   1.000000
0              Australia   0.625000
24             Sri Lanka   0.083333
7                 France   0.000000
21             Singapore   0.000000
30         United States   0.000000
29  United Arab Emirates   0.000000
28                    UK   0.000000
3               Cambodia   0.000000
26                Taiwan   0.000000
25                Sweden   0.000000
23                 Spain   0.000000
22           South Korea   0.000000
20                Russia   0.000000
8                Germany   0.000000
19           Philippines   0.000000
1                Belgium   0.000000
16              Malaysia   0.000000
4                 Canada   0.000000
14                 Macau   0.000000
6                Finland   0.000000
11                 Italy   0.000000
10                 India   0.000000
9              Hong Kong   0.000000
18                 Nepal   0.000000
2                 Brazil        NaN
5               Colombia        NaN
12           Ivory Coast        NaN
17                Mexico        NaN

# Problem 5
Create a dictionary which maps the Country/Region to the continent it is a member of

In [63]:
lst = my_df["Country/Region"]
lst

0       Mainland China
1       Mainland China
2       Mainland China
3       Mainland China
4       Mainland China
             ...
1872    Mainland China
1873             Japan
1874          Thailand
1875       South Korea
1876     United States
Name: Country/Region, Length: 1877, dtype: object

# Problem 6

In [104]:
def get_continent(country):
    d = {"Asia": ["Mainland China","India","Russia","Singapore","Thailand","Singapore","Hong Kong","South Korea","Malaysia","Japan","Vietnam","Taiwan","United Arab Emirates","Phillipines","Nepal","Cambodia","Sri Lanka","Macau"],"Africa": ["Ivory Coast"],"Australia":["Australia"],
                 "Antarctica":[],"Europe":["Spain","Italy","UK","Germany""Belgium","Sweden","Finland"],"North America":["United States","Canada"],"South America":["Colombia","Mexico","Brazil"]}
    for key in d.keys():
        
        if(country in d[key]):
            return key

In [105]:
get_continent("United States")

'North America'

# Problem 7

In [106]:
my_df['Continent'] =my_df['Country/Region'].apply(get_continent)

In [107]:
my_df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia
...,...,...,...,...,...,...,...,...
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN,Asia
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN,Asia
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN,Asia
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN,Asia
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN,North America

# Problem 8

In [108]:
c = my_df.groupby('Continent',as_index=False)["Confirmed"].sum()

In [109]:
c

       Continent  Confirmed
0         Africa        1.0
1           Asia   304959.0
2      Australia      238.0
3         Europe       96.0
4  North America      273.0
5  South America        0.0